/* ESTILOS GENERALES */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Play', sans-serif;
    background-color: whitesmoke;
}

input{
    font-family: inherit;
}

img{
    max-width: 100%;
}

textarea{
    resize: none;
}

.btn-editar{
    background-color: rgb(0, 156, 0);
    padding: 0.5rem;
    border: 1px solid black;
    width: 5rem;
}

.btn-editar:hover{
    background-color: rgb(0, 180, 0);
}

.btn-borrar{
    background-color: rgb(196, 0, 0);
    padding: 0.5rem;
    border: 1px solid black;
    width: 5rem;
}

.btn-borrar:hover{
    background-color: rgb(226, 0, 0); 
}

/* ESTILOS PARA EL MENU */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #141414;
    border-bottom: 3px solid rgb(0, 140, 255);
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
}

#logo{
    width: 9rem;
    margin-right: 3rem;
}

header nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem 2rem;
}

header nav a:hover{
    color: rgb(214, 214, 214);
}

.rrss a{
    color: rgb(0, 140, 255);
    font-size: 2rem;
    margin: 1rem;
}

.rrss a:hover{
    color: rgb(50, 163, 255);
}

.login form{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1rem;
}

.login form div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.login form div label{
    margin-right: 1rem;
}

#btn-login{
    background-color: rgb(0, 140, 255);
    padding: 0.2rem;
}

#btn-login:hover{
    background-color: rgb(50, 163, 255);
}

/* ESTILOS PARA EL HOME */
#bienvenida{
    background-image: url("../img/bienvenida.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
}

#bienvenida h1{
    font-size: 5rem;
    color: rgb(0, 140, 255);
    margin: 0 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#bienvenida span{
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#bienvenida button{
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: whitesmoke;
    border: 3px solid rgb(0, 140, 255);
}

#bienvenida button:hover{
    background-color: rgb(218, 218, 218);
}

#ultimas_noticias{
    width: 80%;
    margin: 2rem auto 1rem auto;
}

#ultimas_noticias img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid black;
}

#ultimas_noticias h2{
    font-size: 2rem;
    text-align: center;
}

#ultimas_noticias h3{
    margin-top: 0;
}

#ultimas_noticias>.contenedor_ultimas_noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ultimas_noticias>.contenedor_ultimas_noticias>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 31%;
    overflow: hidden;
    background-color: rgb(0, 70, 128);
    color: whitesmoke;
    margin: 0.5rem;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
}

#ultimas_noticias input{
    background-color: whitesmoke;
    color: rgb(0, 140, 255);
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    width: 15%;
}

#ultimas_noticias input:hover{
    background-color: rgb(218, 218, 218);
}

#testimonio_random{
    margin: 2rem auto;
    text-align: center;
    background-image: url("../img/testimonio_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: whitesmoke;
}

#testimonio_random>div>p:nth-child(1){
    font-size: 3rem;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#testimonio_random>div>p:nth-child(2){
    font-size: 2rem;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#contacto{
    width: 80%;
    margin: 1rem auto 2rem auto;
}

#contacto h2{
    font-size: 2rem;
    text-align: center;
}

#contacto form{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 94, 172);
    padding: 1.5rem;
    width: fit-content;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
}

#contacto div{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#contacto input[type=submit]{
    margin-top: 1rem;
    color: white;
    background-color: black;
    padding: 0.2rem;
}

#contacto input[type=submit]:hover{
    background-color: rgb(27, 27, 27);
}

/* ESTILOS GENERALES PARA LAS SECCIONES */
.seccion{
    margin: 1rem;
    width: 80%;
    margin: 2rem auto;
    min-height: 90vh;
}

.seccion h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.seccion table{
    border-collapse: collapse;
    width: 100%;
}

.seccion td,.seccion th{
    border-bottom: 3px solid rgb(0, 70, 128);
}

.seccion tbody>tr:nth-child(2n){
    background-color: rgb(129, 142, 153);
}

.contenedor_buscar_nuevo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contenedor_buscar_nuevo input{
    padding: 0.5rem;
}

.contenedor_buscar_nuevo input[type=submit]{
    background-color: rgb(0, 140, 255);
    padding: 0.5rem;
    border: 1px solid black;
}

.contenedor_buscar_nuevo input[type=submit]:hover{
    background-color: rgb(50, 163, 255);
}

.contenedor_buscar_nuevo a{
    background-color: black;
    padding: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
    color: white;
}

.contenedor_buscar_nuevo a:hover{
    background-color: rgb(49, 49, 49);
}

/* ESTILOS GENERALES PARA EL PANEL ADMIN */
.panel_admin{
    margin: 1rem;
    width: 80%;
    margin: 1rem auto;
    min-height: 90vh;
}

.panel_admin h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.panel_admin h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.panel_admin form{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 94, 172);
    padding: 1.5rem;
    width: fit-content;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
}

.panel_admin input[type=submit]{
    margin-top: 1rem;
    color: white;
    background-color: black;
    padding: 0.2rem;
}

.panel_admin input[type=submit]:hover{
    background-color: rgb(27, 27, 27);
}

.panel_admin form div{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.panel_admin>form>div>input{
    width: 15rem;
    margin-left: 1rem;
}

/* ESTILOS PARA SECCION SOCIOS */
.seccionSocios td img{
    object-fit: cover;
    width: 100%;
    display: block;
    height: 200px;
}

.seccionSocios td{
    width: 12%;
    text-align: center;
    padding: 1rem;
}

.seccionSocios td:nth-child(1){
    padding: 0;
}

/* ESTILOS PARA SECCION PRODUCTOS Y SERVICIOS */
.seccion_productos_servicios td{
    width: 25%;
    text-align: center;
    padding: 1rem;
}

/* ESTILOS PARA SECCION TESTIMONIOS */
.seccionTestimonios td{
    width: 33.3%;
    text-align: center;
    padding: 1rem;
}

/* ESTILOS PARA SECCION NOTICIAS */
.seccionNoticias td img{
    object-fit: cover;
    width: 100%;
    display: block;
    height: 200px;
}

.seccionNoticias td{
    width: 20%;
    text-align: center;
    padding: 1rem;
}

.seccionNoticias td:nth-child(1){
    padding: 0;
}

.seccionNoticias table input{
    background-color: rgb(0, 156, 0);
    padding: 0.5rem;
    border: 1px solid black;
    width: 5rem;
}

.seccionNoticias table input:hover{
    background-color: rgb(0, 180, 0);
}

.seccionNoticias nav{
    width: 30%;
    margin: 1rem auto;
}

.paginacion{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

.paginacion li{
    font-size: 1.5rem;
    margin: 0 1rem;
}

.paginacion li a{
    text-decoration: none;
    color: black;
}

.paginacion li a:hover{
    color: rgb(0, 140, 255);
}

/* ESTILOS PARA NOTICIA COMPLETA */
.noticia>div{
    display: flex;
    justify-content: space-between;
}

.noticia img{
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.noticia p{
    text-align: justify;
}

/* ESTILOS PARA SECCION CITAS */
.seccionCitas td{
    width: 16.6%;
    text-align: center;
    padding: 1rem;
}

.seccionCitas>.calendario{
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

.seccionCitas>.calendario td{
    width: 14%;
    text-align: center;
    padding: 1rem;
}

.seccionCitas>.calendario th{
    background-color: black;
    color: white;
    padding: 1rem;
}

.seccionCitas>.calendario td{
    border: 2px solid rgb(0, 70, 128);
}

.seccionCitas>.calendario tbody>tr:nth-child(2n){
    background-color: white;
}

.dia_cita{
    background-color: green;
}


/* ESTILOS PARA EL FOOTER */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #141414;
    color: white;
    padding: 1rem;
}

footer a{
    color: rgb(0, 140, 255);
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover{
    color: rgb(50, 163, 255);
}

footer>div{
    margin-right: 2rem;
}








