/* ESTILOS GENERALES */
*{
    box-sizing: border-box;
    word-break: break-word;
}

body{
    margin: 0;
    font-family: 'Play', sans-serif;
    background-color: whitesmoke;
}

input{
    font-family: inherit;
}

img{
    max-width: 100%;
}

textarea{
    resize: none;
}

.btn-editar{
    background-color: rgb(0, 156, 0);
    padding: 0.5rem;
    border: 1px solid black;
    width: 5rem;
}

.btn-editar:hover{
    background-color: rgb(0, 180, 0);
}

.btn-borrar{
    background-color: rgb(196, 0, 0);
    padding: 0.5rem;
    border: 1px solid black;
    width: 5rem;
}

.btn-borrar:hover{
    background-color: rgb(226, 0, 0); 
}

/* ESTILOS PARA EL MENU */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #141414;
    border-bottom: 3px solid rgb(0, 140, 255);
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
}

#logo{
    width: 9rem;
    margin-right: 3rem;
}

header nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem 2rem;
}

header nav a:hover{
    color: rgb(214, 214, 214);
}

.rrss a{
    color: rgb(0, 140, 255);
    font-size: 2rem;
    margin: 1rem;
}

.rrss a:hover{
    color: rgb(50, 163, 255);
}

#btn-login{
    background-color: rgb(0, 140, 255);
    padding: 0.5rem;
    margin: auto 2rem;
}

#btn-login:hover{
    background-color: rgb(50, 163, 255);
}

/* ESTILOS PARA EL HOME */
#bienvenida{
    background-image: url("../img/bienvenida.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
}

#bienvenida h1{
    font-size: 5rem;
    color: rgb(0, 140, 255);
    margin: 0 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#bienvenida span{
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#bienvenida button{
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: black;
    border: 3px solid rgb(0, 140, 255);
    color: white;
    width: fit-content;
}

#bienvenida button:hover{
    background-color: white;
    color: black;
}

#descripcion{
    width: 70%;
    margin: 2rem auto;
}

#descripcion h2{
    font-size: 2rem;
    margin-top: 0;
}

#descripcion p{
    text-align: justify;
    line-height: 25px;
}

.contenedorDescripcion{
    display: flex;
    justify-content: space-between;
}

.contenedorDescripcion>div{
    width: 50%;
}

.contenedorDescripcion iframe{
    margin: 0 2rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#descripcion h3{
    font-size: 1.5rem;
}

#descripcion ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0;
}

#descripcion li{
    display: flex;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: center;
}

#informacion_practica i{
    font-size: 2rem;
    margin-right: 0.5rem;
}

.contenedorServicios{
    display: flex;
    flex-wrap: wrap;
}

.contenedorServicios>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.contenedorServicios i{
    font-size: 3rem;
}

.contenedorConceptos>div{
    background-color: rgb(0, 140, 255);
    color: whitesmoke;
}

#actividades{
    margin: 2rem auto;
    text-align: center;
    background-image: url("../img/gym_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: whitesmoke;
}

#actividades>div{
    width: 80%;
    margin: auto;
}

#actividades h2{
    color: rgb(0, 140, 255);
    margin-top: 0;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#actividades p{
    line-height: 30px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#ultimas_noticias{
    width: 70%;
    margin: 2rem auto 1rem auto;
}

#ultimas_noticias img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#ultimas_noticias h2{
    font-size: 2rem;
    text-align: center;
}

#ultimas_noticias>.contenedor_ultimas_noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ultimas_noticias>.contenedor_ultimas_noticias>div{
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
    background-color: white;
    color: black;
    margin: 0.5rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#ultimas_noticias>.contenedor_ultimas_noticias>div>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    height: 50%;
}

#ultimas_noticias input{
    background-color: rgb(0, 140, 255);
    color: white;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    width: fit-content;
}

#ultimas_noticias input:hover{
    background-color: rgb(50, 163, 255);
}

#testimonio_random{
    margin: 2rem auto;
    text-align: center;
    background-image: url("../img/testimonio_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: whitesmoke;
}

#testimonio_random>div>p:nth-child(1){
    font-size: 3rem;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#testimonio_random>div>p:nth-child(2){
    font-size: 2rem;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#contacto{
    width: 70%;
    margin: 2rem auto 2rem auto;
}

.contenedorContacto{
    display: flex;
    justify-content: center;
}

#contacto h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#contacto h3{
    margin-top: 0;
    font-size: 2rem;
}

.preguntas_y_respuestas{
    width: 35%;
    margin-right: 2rem;
}

.preguntas_y_respuestas details{
    margin-bottom: 1rem;
}

.preguntas_y_respuestas details>summary{
    color: rgb(0, 140, 255);
}

.preguntas_y_respuestas p{
    text-align: justify;
    margin-left: 2rem;
}

#contacto form{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 94, 172);
    color: whitesmoke;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#contacto form textarea{
    margin-left: 1rem;
}

#contacto form div{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#contacto input[type=submit]{
    margin-top: 1rem;
    color: white;
    background-color: black;
    padding: 0.2rem;
}

#contacto input[type=submit]:hover{
    background-color: rgb(27, 27, 27);
}

#seccionLanding{
    background-image: url("../img/fondo_gym2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: white;
}

#seccionLanding h2{
    font-size: 3rem;
    color: rgb(0, 140, 255);
    margin: 0 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
    text-align: center;
}

#seccionLanding span{
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
}

#seccionLanding a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: black;
    border: 3px solid rgb(0, 140, 255);
    color: white;
}

#seccionLanding a:hover{
    background-color: white;
    color: black;
}

/* ESTILOS GENERALES PARA LAS SECCIONES */
.seccion{
    margin: 1rem;
    width: 70%;
    margin: 2rem auto;
    min-height: 90vh;
}

.seccion h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.seccion table{
    border-collapse: collapse;
    width: 100%;
}

.seccion td,.seccion th{
    border-bottom: 3px solid rgb(0, 70, 128);
}

.seccion tbody>tr:nth-child(2n){
    background-color: rgb(129, 142, 153);
}

.seccion tbody>tr:nth-child(2n+1){
    background-color: white;
}

.contenedor_buscar_nuevo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contenedor_buscar_nuevo input{
    padding: 0.5rem;
    margin-right: 0.3rem;
}

.contenedor_buscar_nuevo input[type=submit]{
    background-color: rgb(0, 140, 255);
    padding: 0.5rem;
    border: 1px solid black;
}

.contenedor_buscar_nuevo input[type=submit]:hover{
    background-color: rgb(50, 163, 255);
}

.contenedor_buscar_nuevo form{
    display: flex;
}

.contenedor_buscar_nuevo a{
    background-color: black;
    padding: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
    color: white;
}

.contenedor_buscar_nuevo a:hover{
    background-color: rgb(49, 49, 49);
}

/* ESTILOS GENERALES PARA EL PANEL ADMIN */
.panel_admin{
    margin: 1rem;
    width: 70%;
    margin: 1rem auto;
    min-height: 90vh;
}

.panel_admin h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.panel_admin h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.panel_admin form{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 94, 172);
    color: whitesmoke;
    padding: 2rem;
    width: fit-content;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.panel_admin input[type=submit]{
    margin-top: 1rem;
    color: white;
    background-color: black;
    padding: 0.2rem;
}

.panel_admin input[type=submit]:hover{
    background-color: rgb(27, 27, 27);
}

.panel_admin form div{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.panel_admin>form>div>input{
    width: 15rem;
    margin-left: 1rem;
}

.panel_admin>form>div>textarea{
    margin-left: 1rem;
}

.panel_admin a{
    background-color: black;
    padding: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
    color: white;
}

/* ESTILOS PARA SECCION SOCIOS */
.seccionSocios td img{
    object-fit: cover;
    width: 100%;
    display: block;
    height: 200px;
}

.seccionSocios td{
    width: 14%;
    text-align: center;
    padding: 1rem;
}

.seccionSocios td:nth-child(1){
    padding: 0;
}

/* ESTILOS PARA SECCION PRODUCTOS Y SERVICIOS */
.seccion_productos_servicios td{
    width: 25%;
    text-align: center;
    padding: 1rem;
}

/* ESTILOS PARA SECCION TESTIMONIOS */
.seccionTestimonios td{
    width: 33.3%;
    text-align: center;
    padding: 1rem;
}

/* ESTILOS PARA SECCION NOTICIAS */
.seccionNoticias td img{
    object-fit: cover;
    width: 100%;
    display: block;
    height: 200px;
}

.seccionNoticias td{
    width: 20%;
    text-align: center;
    padding: 1rem;
}

.seccionNoticias td:nth-child(1){
    padding: 0;
}

.seccionNoticias table input{
    background-color: rgb(0, 156, 0);
    padding: 0.5rem;
    border: 1px solid black;
    width: 5rem;
}

.seccionNoticias table input:hover{
    background-color: rgb(0, 180, 0);
}

.seccionNoticias nav{
    width: 30%;
    margin: 1rem auto;
}

.paginacion{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

.paginacion li{
    font-size: 1.5rem;
    margin: 0 1rem;
}

.paginacion li a{
    text-decoration: none;
    color: black;
}

.paginacion li a:hover{
    color: rgb(0, 140, 255);
}

/* ESTILOS PARA NOTICIA COMPLETA */
.noticia>div{
    display: flex;
    justify-content: space-between;
}

.noticia img{
    width: 70%;
    height: 500px;
    object-fit: cover;
    margin-right: 1rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.noticia p{
    text-align: justify;
}

/* ESTILOS PARA SECCION CITAS */
.seccionCitas td{
    width: 16.6%;
    text-align: center;
    padding: 1rem;
}

.seccionCitas>.calendario{
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.seccionCitas>.calendario td{
    width: 14%;
    text-align: center;
    padding: 1rem;
}

.seccionCitas>.calendario th{
    background-color: black;
    color: white;
    padding: 1rem;
    border: 2px solid black;
}

.seccionCitas>.calendario td{
    border: 2px solid rgb(0, 70, 128);
}

.seccionCitas>.calendario tbody>tr:nth-child(2n){
    background-color: white;
}

.dia_cita{
    background-color: green;
}

#cabecera_calendario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    font-size: 1.7rem;
}

#cabecera_calendario a{
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    margin: 0 1rem;
}

#cabecera_calendario a:hover{
    color: rgb(0, 140, 255);
}

/* ESTILOS PARA LA LANDING PAGE */
#landing header{
    justify-content: center;
}

#landing header h1{
    font-size: 4rem;
    color: rgb(0, 140, 255);
    text-align: center;
}

#landing_bienvenida{
    background-image: url("../img/landing1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    color: white;
    margin-bottom: 2rem;
}

#landing_bienvenida>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing_bienvenida>div span{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}

#landing_bienvenida>div span:nth-child(2){
    color: rgb(0, 140, 255);
}

#landing_bienvenida>div p{
    font-size: 2rem;
}

#landing_bienvenida>div a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: black;
    border: 3px solid white;
    color: white;
    width: fit-content;
}

#landing_bienvenida>div a:hover{
    background-color: white;
    color: black;
}

#prueba{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30vh;
}

#prueba h2{
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
}

#prueba a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: black;
    border: 3px solid black;
    color: rgb(0, 140, 255);
    width: fit-content;
}

#prueba a:hover{
    background-color: white;
}

#landing_videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

#landing_videos iframe{
    margin: 1rem 0.5rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#landing_maquinas p{
    text-align: justify;
    line-height: 20px;
}

#landing_maquinas h3{
    font-size: 2rem;
}

#landing_maquinas strong{
    color: rgb(0, 140, 255);
}

#landing_maquinas img{
    width: 50%;
    object-fit: cover;
}

.maquina_impar>div{
    display: flex;
    width: 70%;
    margin: auto;
}

.maquina_impar>div>div{
    margin-right: 1rem;
}

.maquina_par{
    background-color: white;
}

.maquina_par>div{
    display: flex;
    width: 70%;
    margin: auto;
}

.maquina_par>div>div{
    margin-left: 1rem;
}

#esperamos{
    background-image: url("../img/te_esperamos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#esperamos h2{
    font-size: 3rem;
    color: rgb(0, 140, 255);
    margin: 0 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0.5rem 2rem;
    text-align: center;
}

#esperamos a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: black;
    border: 3px solid white;
    color: white;
    width: fit-content;
}

#esperamos a:hover{
    color: black;
    background-color: white;
}

/* ESTILOS PARA EL FOOTER */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #141414;
    color: white;
    padding: 1rem;
}

footer a{
    color: rgb(0, 140, 255);
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover{
    color: rgb(50, 163, 255);
}

footer>div{
    margin-right: 2rem;
}


/* MEDIA QUERYS */
@media screen and (max-width: 1000px){
    .maquina_impar>div{
        width: 100%;
        padding: 0 1rem;
    }

    .maquina_par>div{
        width: 100%;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 650px){
    #landing_maquinas img{
        width: 100%;
        order: -1;
    }

    .maquina_impar>div{
        flex-direction: column;
    }

    .maquina_par>div{
        flex-direction: column;
    }
}


